body {
    margin:0;
}

form, h1,img {
    margin: 10px;
}
table {
    max-width: 500px;
    margin-bottom: 10px;
    border-color: #4CAF50;
    border: 2px solid white;
    border-collapse: collapse;
    margin-left:5px;
    padding-left: 20px;
   

   
}

label { display: block;}
input { 
    padding: 5px;
    margin: 5px 0;
    color: black;
    border: 2px solid #4CAF50; 
}

h1 {
    color: #4a4a0a;
}

td {
    color: #114963;
    background-color: #96D4D4;
  
}

footer {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgb(16, 95, 36);
    text-align: center;
}
#output{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
}

  
  #output:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }